<div class="admin-dashboard-page">
<h1 class="admin-dashboard-title" >Admin Dashboard</h1>
<h2 >Store Summary:</h2>
<h3 class="total_products">Total <a href="/admin/products">Products</a> on the website: <%= @product_count %></h3>
<h3 class="total_categories">Total Categories of Products on the website: <%= @category_count %></h3>
</div>