<h1 style="border-bottom:1px solid lightgray; padding-bottom: 10px">About Us</h1>
<h4>Pic from our most recent staff holiday expedition - it was a wild one!</h4>
<img style="padding-top:10px"src="https://media.istockphoto.com/photos/brave-woman-exploring-the-jungle-picture-id1313239648?k=20&m=1313239648&s=612x612&w=0&h=Iqmo848XcxonHdoFB6HTgSKrhxS_t35IxYQLUxMe68U=">
<p style="padding-top:10px">We are Jungle, a small e-commerce website built for the adventurous at heart. We stock some pretty zany items that are sure to catch your eye. Enjoy perusing, and don't get lost in the Jungle!</p>
