.register-form {
  display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}

.sign-in-form {
padding-right: 5rem;
}

.register {
  padding-left: 7.5rem;

}

.email {
  padding-left: 0.2rem;
  padding-top: 1rem;
}

.password {
  padding-right: 2.1rem;
  padding-top: 1rem;
}

.password-confirmation {
  padding-right: 6.6rem;
  padding-top: 1rem;
}

.password-confirmation-text {
  padding-right: 1rem;
  margin: 0;
}

.button {
  padding-top: 1rem;
padding-left: 0.3rem;
}